h1 {color:white; font-family: Arial, Helvetica, sans-serif;}
main h3 {color:white; font-family: Arial, Helvetica, sans-serif;}
body {font-family: Arial; text-decoration:none;}
*{text-decoration: none;}
.S h2{
    text-align: center;
    margin-top: 25px;
     font-family: Arial, Helvetica, sans-serif;
     color: white;
    }

.Search{
    --padding: 14px;
    width: max-content;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 99999999px;
    background: rgb(25, 25, 25);
    color: rgb(255, 255, 255);
    margin: 20px auto;

}
.search-input{
font-size: 16px;
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
color: rgb(255, 255, 255);
margin-left:var(--padding) ;
outline: none;
border: none;
background: transparent;
width: 300px;
margin-right: 100px;
}
.search-icon{
    background-color: rgb(31, 76, 221);
    border: none;
    border-radius: 99999px;
    padding: 1.5px;
}
.S h2 {
  text-align: center;
  margin-top: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.Search {
  --padding: 14px;
  width: max-content;
  display: flex;
  align-items: center;
  padding: var(--padding);
  border-radius: 99999999px;
  background: rgb(25, 25, 25);
  color: rgb(255, 255, 255);
  margin: 20px auto;
}
.search-input {
  font-size: 16px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: rgb(101, 107, 119);
  margin-left: var(--padding);
  outline: none;
  border: none;
  background: transparent;
  width: 300px;
  margin-right: 100px;
}
.search-icon {
  background-color: rgb(31, 76, 221);
  border: none;
  border-radius: 99999px;
}
.ImageSlider {
  padding-top: 2rem;
}
.slider-Wrapper {
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}
.Slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
  overflow: hidden;
}
.Slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: fill;

  overflow: hidden;
}
.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: white;
  opacity: 0.75;
  transition: opacity ease 250ms;
}
.slider-nav a {
  opacity: 1;
}
.Catagories {
  margin-top: 100px;
}
main {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: row;
  aspect-ratio: 16/ 9;
  justify-items: center;
  align-items: center;
  justify-content: center;
}
.Catagories-Wrapper {
  align-items: center;
  display: flex;
}
.Catagories-Wrapper img {
  align-items: end;
  align-self: self-end;
}




/*23, 6, 44*/
.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

body {
  background-color: #ffffff;
}
.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  
  padding: 50px 0;

}
.ag-courses_item1 {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;
  background-image: url(/img/Catagories/Catagories_imgs/Reustaraunts.jpeg);
  border-radius: 28px;
  margin-top: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 100%;
}
.ag-courses_item2 {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);
  background-image: url(/img/Catagories/Catagories_imgs/Dirt_Bike.jpg);
  margin: 0 15px 30px;
  overflow: hidden;

  border-radius: 28px;
  margin-top: 50px;
  border-radius: 28px;
  margin-top: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
.ag-courses_item3 {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;
  background-image: url(/img/Catagories/Catagories_imgs/SHows_Red.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;

  border-radius: 28px;
  margin-top: 50px;

}
.ag-courses_item4 {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;
  background-image: url(/img/Catagories/Catagories_imgs/Shows.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;

  border-radius: 28px;
  margin-top: 50px;

}
.ag-courses_item5 {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;
  background-image: url(/img/Catagories/Catagories_imgs/Hotels.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;

  border-radius: 28px;
  margin-top: 50px;

}
.ag-courses_item6 {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);
  
  margin: 0 15px 30px;
  background-image: url(/img/Catagories/Catagories_imgs/Travel.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;

  border-radius: 28px;
  margin-top: 50px;

}
.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
  overflow: hidden;
  border-color: #ffffff!important;
  border-style: solid!important;
  border-width: 1px !important;

  position: relative;
  opacity: 100%;
  }





.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
  border: #ffffff solid 1px;
  transition-duration: 0.7s;
  opacity: 75%;

}




ag-courses-item_title{background-image: url(/img/Catagories/Ruestaruents2.webp);}




.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;


  font-weight: bold;
  font-size: 30px;
  color: #fff;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date-box {
  font-size: 18px;
  color: #fff;

  z-index: 2;
  position: relative;
  background-image: url(/img/Events/Action.jpeg);
  opacity: 00%;
}
.ag-courses-item_date {
  font-weight: bold;
  color: #ffffff;

  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
  background-image: url(/img/Events/Action.jpeg);

}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: rgb(0, 0, 0);
  z-index: ;
  position: absolute;
  top: -75px;
  right: -75px;
  opacity: 0.2;
  border-radius: 50%;
  background-image: url(/img/Events/Action.jpeg);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: #ffffff solid 1px;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
  background-image: url(/img/Events/Action.jpeg);

}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e40202;
  background-image: url(/img/Events/Action.jpeg);

}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff; 
   background-image: url(/img/Events/Action.jpeg);
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
  background-image: url(/img/Events/Action.jpeg);

}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
  background-image: url(/img/Events/Action.jpeg);

}

@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
    
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }
}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;
    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}
