nav{  color: white; border-bottom: 1px;border-color: #33333380;border-style: solid;margin: 0%;}
.flex-container {
    display: flex;
    
  }
  
  .flex-container h2 {
    inline-size: 10%; 
    margin-bottom: 10%;
    text-align: center;
    margin-right:100% ;
}

  .flex-container img {
    inline-size: 10%; 
}
 
nav h1{
    margin:0%
}
body{
    background:rgb(000, 000, 000)
}