nav{ color: white;
    border-bottom: 1px;
    border-color: #33333380;
    border-style: solid;
    padding: 0px;
    font-size: 30px;
;}

.flex-container {
    display: flex;
    
  }
   li{font-family: Arial, Helvetica, sans-serif;}
  .flex-container h2 {
    inline-size: 10%; 
    margin-bottom: 10%;
    text-align: center;
    margin-right:100% ;
}
nav img {margin-left: 10px;}
  .flex-container img {
    inline-size: 10%; 
}
 
nav h1{
    margin:0%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
body{
    background:rgb(000, 000, 000);
    margin: 0%;
}
nav li{font-family: Arial, Helvetica, sans-serif;
    float: left;



}
nav ul{list-style-type: none;
    background-color: black;
    padding: 0%;
    margin: 0%;
    overflow: hidden;
}
nav a{
    color: rgb(115, 120, 128);
text-decoration: none;
padding: 15px;
display: block;
text-align: center;
padding-top: 30px;
}
nav a:hover{
    color:hsl(0, 0%, 100%);
    cursor: pointer;
  }
main{margin: 20px;}
nav img{height: 95px;
    width: auto; }
